/* Reset de base pour uniformiser les styles entre les navigateurs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles généraux */
body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    opacity: 1;
    transition: opacity ease-in-out;
}

/* En-tête */
header {
    background: #000;
    padding: 10px 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 5;
}

.logo {
    width: 13vh;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    /* Centrer les éléments de navigation */
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #d1c8ff;
    font-weight: bold;
    transition: color 0.3s ease;
    position: relative;
    display: inline-block;
    /* Permet au pseudo-élément de s'aligner correctement */
    text-decoration: none;
    font-weight: bold;
    font-size: 2vh;
}

/* Pseudo-élément pour le liseret */
nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    /* Épaisseur du liseret */
    background: #d1c8ff;
    /* Couleur du liseret */
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: -5px;
    left: 0;
}

nav ul li a:hover {
    color: #d1c8ff;
    /* Couleur au survol */
}

nav ul li a:hover::after {
    width: 100%;
    /* Largeur finale de 100% lors du survol */
}

/* Content */
.image-container {
    display: flex;
    flex-wrap: wrap;
}

.responsive-image {
    flex: 1 1 50%; /* Chaque image prendra 50% de l'espace disponible */
    max-width: 50%; /* Limite la largeur de l'image à 50% de la largeur du conteneur */
    height: auto; /* Permet de garder le ratio de l'image */
}

@media (max-width: 1156px) {
    .responsive-image {
        max-width: 100%;
    }
}


/* Pied de page */
footer {
    background: rgb(29, 29, 29);
    color: #d1c8fd;
    text-align: center;
    padding: 20px 0;
    position: relative;
    z-index: 5;
}

footer p {
    margin-bottom: 0;
    font-size: 2vh;
    font-weight: 400;
    font-style: italic;
}